<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
	<div th:replace="frontEndModel::dauTrang"></div>
	<div class="noiDung">
		<div class="col-left">
			<div class="col-1">
				<a>Thêm nhà đầu tư</a>
			</div>
			<div class="col-2">
				<a>Xem nhà đầu tư</a>
			</div>
			<div class="col-3">
				<a>Về John Nguyễn</a>
			</div>
		</div>
		<div th:replace="frontEndModel::sidebar"></div>
	</div>
	<div th:replace="frontEndModel::chanTrang"></div>
</body>
</html>