<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TongHopGK</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:fragment="dauTrang" class="header">
        <div class="menu">
            <a th:href="@{/dashboard}">Dashboard</a>
            <a th:href="@{/page/list}">Page - List</a>
            <a th:href="@{/page/addnew}">Page - Addnew</a>
            <a th:href="@{/post/list}">Post - List</a>
            <a th:href="@{/post/addnew}">Post - Addnew</a>
        </div>
    </div>
    <div th:fragment="sideBar" class="sideBar">
        <p>Sidebar content here</p>
    </div>
    <div th:fragment="chanTrang" class="footer">
        <p>© Nguyễn Hoàng Gia Khiêm</p>
    </div>
</body>
</html>