<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="frontEndViews/FrontEndModel::dauTrang"></div>
    <div class="content">
        <div th:replace="frontEndViews/FrontEndModel::sideBar"></div>
        <div class="col-right">
            <img alt="" src="images/cv.png">
        </div>
    </div>
    <div th:replace="frontEndViews/FrontEndModel::chanTrang"></div>
</body>
</html>