<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="latestArticlesSidebar">
        <h4 class="text-xl font-semibold text-blue-800 mb-4">Bài viết mới</h4>
        <ul class="space-y-4">
            <li th:each="article : ${latestArticles}"
                class="flex gap-4 bg-white rounded-xl shadow p-4 hover:bg-blue-50">
                <img th:if="${article.images.size() > 0}" th:src="@{${article.images[0].imageUrl}}" class="w-20 h-16 object-cover rounded-lg">
                <div>
                    <a th:href="@{'/articles/' + ${article.articleId}}" class="text-blue-800 font-medium text-base hover:underline" th:text="${article.title}"></a>
                    <p class="text-xs text-gray-600" th:text="${#temporals.format(article.publishedAt, 'dd/MM/yyyy')}"></p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
